.contenedor{
    height: 94vh;
    display: grid;
    gap: 10px;
    background-color: lightgray;
    padding: 10px;
    grid-template-rows: 0.7fr 3fr 3fr 1fr;    grid-template-areas:
    'header header header header'
    'izq main main main'
    'publi main main main'
    'footer footer footer footer'
    ;
}
.box1{
    grid-area: header;
    /* background-color: blue; */
}
.box2{
    grid-area: izq;
    background-color: red;
}
.box3{
    grid-area: main;
    background-color: green;
}
.box4{
    grid-area: publi;
    background-color: orange;
}
.box5{
    grid-area: footer;
    background-color: blueviolet;
}
.contenedor>div{
    text-align: center;
    /* background-color: lightblue; */
}