@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Sofia+Sans+Condensed:ital,wght@0,400;0,500;1,400&display=swap');

:root{
    --var-color-primario:#1D4E89 ;
    --var-color-secundario: #00b2ca2f;
    --var-color-terciario:#3FC1C0 ;
    --var-color-titulos: ;
    --var-color-resaltado: ;
    --var-color-tranparente: ;
    --var-color-body: ;
    font-family: 'Sofia Sans Condensed','roboto', sans-serif;
}
html{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
}

.text-mochileando{
  font-family:'Dancing Script', strong;
}


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 2fr 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Main Main Main"
      "Footer Footer Footer";
  }
  
  .Header {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar"
      "Carrousel Carrousel Carrousel";
    grid-area: Header;
    height: 500px;
    background-image:url(/assets/Banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .navbar {
    grid-area: navbar;
    width: 100%;
    height: 50px;
  }
  
  .Carrousel {
    grid-area: Carrousel;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
  }
  
  .Main { grid-area: Main;
          min-height: 20vh;
          margin: 10px;
  }
  
  .Footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left_f center_f rigth_f"
      "left_f center_f rigth_f"
      "left_f center_f rigth_f";
    grid-area: Footer;
    background-color: var(--var-color-primario);
    color: white;
  }

  .left_f { grid-area: left_f;
    border-right: solid 1px #bbb;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
  }

  .center_f { grid-area: center_f;
    border-right: solid 1px #bbb;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
  }
  
  .rigth_f { grid-area: rigth_f;
    padding: 0.5em 0.1em 0.5em 1em;
   }
   
    .text-presentation{
      margin: 2px;
    }

  
.topnav {
    overflow: hidden;
    }
    
    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: var(--var-color-secundario);
    color: black;
    border-radius: 10px;
    }
    
    .topnav a.active {
    /* background-color: var(--var-color-secundario); */
    color: white;
    padding:0;
    }

    .topnav .icon {
    display: none;
    }

  /* footer styles */
  
  .ta-l {
    text-align: left;
  }

  .weather-box{
    float: right;
color: #f2f2f2;
    padding: 0px 16px;
   max-height: 55px;
  }

  .text-weather{
    font-size: medium;
    float: left;
    padding: 15px 5px;
    height: 25px;
    margin: 0;
    text-align: center;
    justify-content: center;

  }
  
  
  .footer-col a {
    display: block;
    margin: 0.3em 0;
  }
.footer-logo-container{
  display: flex;
  align-items: center;
}

.icons-styles{
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  margin: 5px;
}

.our-site{
  text-decoration: none;
  color: white;
}

.title-section{
  text-align: center;
  margin: 2%;
  font-size: xx-large;
}

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--var-color-primario);
}

article a:focus {
  outline: 1px dotted var(--var-color-primario);
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: var(--var-color-primario);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}


    @media screen and (max-width:768px){
      .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: var(--var-color-primario);
    background-image: none;
    
  }
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 2fr 200px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Main Main Main"
      "Footer Footer Footer";
  }
  
  .Header {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar";
    grid-area: Header;
    height: 50px;
    background-color: var(--var-color-primario);
    background-image: none;
    z-index: 1;
  }

  .Carrousel {
    display: none;
  }

  .rights-text{
    display: none;
  }
}

@media screen and (max-width:480px){
  .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 2fr 200px;
    gap: 0px 0px;

    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      "Main Main Main"
      "Footer Footer Footer";
      
  }
  
  .Header {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar";
    grid-area: Header;
    height: 50px;
    background-color: var(--var-color-primario);
    background-image: none;
  }

  .Carrousel {
    display: none;
  }
  .Footer {  display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "center_f "
      "center_f"
      "center_f";
    grid-area: Footer;
    background-color: var(--var-color-primario);
  }
  
  .left_f { grid-area: left_f;
            display: none;  
  }
  
  .center_f { grid-area: center_f;

  }
  
  .rigth_f { grid-area: rigth_f;
            display: none;
  }
}