.title_admin{
    margin: 2% 5%;
}
button[type="submit"] {
    margin: 2% 5%;
    text-align: center;
    display: block;
    width: auto;
    min-width: 200px;
    height: auto;
    padding: 10px;
    background-color: #1D4E89;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

table {
    margin: 5% 2%;
    border-collapse: collapse;
    width: 96%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    width: auto;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }